:root {
  --light-bg-green: #93d6bc;
  --dark-bg-green: #42c0c3;
  --light-bg-pink: #f68da1;
  --dark-bg-pink: #d4668e;
}

@font-face {
  font-family: "Jory-Light";
  src: url("../Fonts/ArbFONTS-DG-Jory-Light.ttf");
}
@font-face {
  font-family: "Jory-Regular";
  src: url("../Fonts/ArbFONTS-DG-Jory-Reg.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jory-Light", sans-serif;
}

h1,
h2,
h3 h4,
h5,
h6,
p {
  text-align: right;
}

.main-color {
  color: var(--light-bg-green);
}

.main-color--bg {
  background-color: var(--light-bg-green);
}

.main-color-dark {
  color: var(--dark-bg-green);
}

.main-color-dark--bg {
  background-color: var(--dark-bg-green);
}

.secondary-color {
  color: var(--light-bg-pink);
}

.secondary-color--bg {
  background-color: var(--light-bg-pink);
}

.secondary-color-dark {
  color: var(--dark-bg-pink);
}

.secondary-color-dark--bg {
  background-color: var(--dark-bg-pink);
}

.border-main {
  border: 1px solid var(--light-bg-pink);
  transition: all 0.3s ease;
  border-radius: 11px;
}

.bg-hover:hover {
  background-color: transparent;
  color: var(--light-bg-pink) !important;
  transform: translateY(-7px);
  box-shadow: 0px 5px 7px rgb(51, 51, 51, 0.2);
}

/* .container {
    height: 100vh;
    color: #fff;
    background-color: #42c0c3;
} */

/* .logo {
  width: 6.5rem;
} */
.bg {
  background-image: url("../img/wave-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-2 {
  background-image: url("../img/circle-scatter-haikei.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
}

.nav-link a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  transition: all 0.3s;
  padding-bottom: 0.4rem;
  border-bottom: 3px solid transparent;
}

.nav-link a:hover {
  color: #fff;
  border-color: var(--dark-bg-green);
}

.header {
  color: #fff;
  /* height: 89vh; */
}

.btns {
  text-align: right;
}

.btn-main {
  background-color: var(--dark-bg-green) !important;
  display: inline !important;
  font-size: 1.3rem !important;
}

.btn-sub {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 2px solid var(--dark-bg-green) !important;
  border-radius: 0 !important;
}

.btn-sub:hover {
  border-color: transparent !important;
}

.btn-primary {
  background-color: #f68da1 !important;
  border-color: transparent !important;
  box-shadow: none !important;
  font-size: 1.6rem !important;
}

.btn-primary:hover {
  background-color: transparent !important;
  border-color: var(--light-bg-pink) !important;
  color: var(--light-bg-pink) !important;
}

.section_header {
  border-bottom: solid 5px #f68da1;
  display: inline-block;
}

.youtube iframe {
  border-radius: 20px;
}

.card {
  position: relative;
}

.card .icon-container {
  position: absolute;

  border: 3px solid #42c0c3;
  border-radius: 50%;
  background-color: #fff;
  top: -2.75rem;
  left: 50%;
  transform: translateX(-50%) !important;
}

.card .icon-container i {
  font-size: 3rem;

  padding: 1rem;
  color: #f68da1;
}

.box-before-main {
  border: 1px solid var(--light-bg-pink);

  background-color: var(--light-bg-pink);
  color: #fff;
  border-radius: 10px;
}

.box-after-main {
  border: 1px solid var(--dark-bg-green);
  background-color: var(--dark-bg-green);
  color: #fff;
  border-radius: 10px;
}

.box-before {
  border: 1px solid var(--light-bg-pink);
  border-radius: 10px 10px 0 0;
  background-color: var(--light-bg-pink);
  color: #fff;
}

.box-after {
  border: 1px solid var(--dark-bg-green);
  background-color: var(--dark-bg-green);
  color: #fff;
  border-radius: 0 0 10px 10px;
}

.accordion-button {
  flex-direction: row-reverse;
  justify-content: space-between;
  text-align: right !important;
}

.accordion-button::after {
  margin-left: 0 !important;
}

.accordion-body {
  text-align: right !important;
  border: 1px solid #ddd;
}

.accordion-button:not(.collapsed) {
  color: #ffffff !important;
  background-color: var(--light-bg-pink) !important;
  box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0
    var(--bs-accordion-border-color);
}

.accordion-button:focus {
  border-color: var(--dark-bg-pink) !important;
  box-shadow: 0 0 0 0.25rem transparent !important;
}

.accordion {
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.card-body {
  padding-bottom: 0 !important;
}

.card-body li p {
  margin-bottom: 0;
}

.card {
  height: 368px !important;
}
/* ////////////////////////////////////////////////// */
/* section {
  height: 100vh;
} */

/* ////////////////////////////////////////////////// */
.swiper-button-next,
.swiper-button-prev {
  color: var(--light-bg-pink) !important;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.704);
  opacity: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  z-index: 10;
}

.dialog .message {
  padding: 3rem 2rem;
  background-color: #fff;
  border-radius: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-51%, -50%) scale(1);
  text-align: center;
  width: 50rem;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.dialog .message .main_message {
  font-size: 2.6rem;
  margin-bottom: 1.4rem;
}

.dialog .message .sub_message {
  font-size: 2rem;
  margin-bottom: 1.8rem;
}

.dialog .message .btn_confirm {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
}
.dialog .message .btn_confirm i {
  font-size: 2rem;
}

.hidden {
  opacity: 0;
}

.float-social-media {
  position: fixed;
  top: 50%;
  left: 0;
  background-color: var(--dark-bg-green);
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  border-radius: 0px 10px 10px 0;
  transform: translateY(-50%);
  z-index: 10;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.div1 {
  grid-area: 1 / 5 / 2 / 6;
}
.div2 {
  grid-area: 1 / 4 / 2 / 5;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 1 / 2 / 2 / 3;
}
.div5 {
  grid-area: 1 / 1 / 2 / 2;
}
.div6 {
  grid-area: 2 / 5 / 3 / 6;
}
.div7 {
  grid-area: 2 / 4 / 3 / 5;
}
.div8 {
  grid-area: 2 / 3 / 3 / 4;
}
.div9 {
  grid-area: 2 / 2 / 3 / 3;
}
.div10 {
  grid-area: 2 / 1 / 3 / 2;
}
.div11 {
  grid-area: 3 / 5 / 4 / 6;
}
.div12 {
  grid-area: 3 / 4 / 4 / 5;
}
.div13 {
  grid-area: 3 / 3 / 4 / 4;
}
.div14 {
  grid-area: 3 / 2 / 4 / 3;
}
.div15 {
  grid-area: 3 / 1 / 4 / 2;
}
.div16 {
  grid-area: 4 / 5 / 5 / 6;
}
.div17 {
  grid-area: 4 / 4 / 5 / 5;
}
.div18 {
  grid-area: 4 / 3 / 5 / 4;
}
.div19 {
  grid-area: 4 / 2 / 5 / 3;
}
.div20 {
  grid-area: 4 / 1 / 5 / 2;
}
.div21 {
  grid-area: 5 / 5 / 6 / 6;
}
.div22 {
  grid-area: 5 / 4 / 6 / 5;
}
.div23 {
  grid-area: 5 / 3 / 6 / 4;
}
.div24 {
  grid-area: 5 / 2 / 6 / 3;
}
.div25 {
  grid-area: 5 / 1 / 6 / 2;
}

@media only screen and (max-width: 768px) {
  .btn-sub {
    border: none !important;
  }

  .youtube iframe {
    height: 320px;
    width: 395px;
  }

  .box-after-main,
  .box-before-main {
    border-radius: 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 29px;
  }

  .div1 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div4 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .div5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div6 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div7 {
    grid-area: 3 / 3 / 4 / 4;
  }
  .div8 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .div9 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div10 {
    grid-area: 4 / 3 / 5 / 4;
  }
  .div11 {
    grid-area: 4 / 2 / 5 / 3;
  }
  .div12 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div13 {
    grid-area: 5 / 3 / 6 / 4;
  }
  .div14 {
    grid-area: 5 / 2 / 6 / 3;
  }
  .div15 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .div16 {
    grid-area: 6 / 3 / 7 / 4;
  }
  .div17 {
    grid-area: 6 / 2 / 7 / 3;
  }
  .div18 {
    grid-area: 6 / 1 / 7 / 2;
  }
  .div19 {
    grid-area: 7 / 3 / 8 / 4;
  }
  .div20 {
    grid-area: 7 / 2 / 8 / 3;
  }
  .div21 {
    grid-area: 7 / 1 / 8 / 2;
  }
  .div22 {
    grid-area: 8 / 3 / 9 / 4;
  }
  .div23 {
    grid-area: 8 / 2 / 9 / 3;
  }
  .div24 {
    grid-area: 8 / 1 / 9 / 2;
  }
  .div25 {
    grid-area: 9 / 3 / 10 / 4;
  }
}

@media only screen and (max-width: 400px) {
  .youtube iframe {
    height: 240px;
    width: 300px;
  }

  .card {
    height: auto !important;
  }

  .card-body {
    margin-bottom: 0.5rem;
    padding-top: 2.2rem !important;
  }
}
